<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>池塘大战 - 注册</b></a>
  </div>

  <div class="register-box-body">
    	<% if flash[:danger] %><p class="box"><%= flash[:danger] %></p><%end %>
<%= form_for(:account, url: account_regist_path, method: :post, html: {role: 'form'}) do |f| %>
      <div class="form-group has-feedback">
        <input type="text" name='uid' class="form-control" placeholder="登录名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="text" name='uemail' class="form-control" placeholder="邮箱">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name='upw1' class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="password" name='upw2' class="form-control" placeholder="重复密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-3">
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" class="btn btn-success btn-block btn-flat">立即注册</button>
        </div>
        <!-- /.col -->
      </div>
	   <div class="row" style="text-align:center;">
	   <br>
			<%= link_to("已有账号，现在登录", account_login_path,:class=>"text-center") %>
           <a href="{:url('/user/login')}" class="text-center"></a>

      </div>
    </form>
	<%end%>
<!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>
-->

   
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>